@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    /* max-width: 1140px;
    border: 2px red solid;
    margin: 0 auto; */
    font-family: Work sans;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
 /* Button section */
 .btn-section{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border: none;
 }
 .btn-section:hover{
    background-color: black;
 }
 /* Header nav */
nav{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav h3{
    color: rgb(19, 19, 19);
font-size: 45px;
font-weight: 700;
}
nav a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
/* banner-containerb */
.banner-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
}
.banner-container h2{
    color: rgb(19, 19, 19);
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}
.banner-container p{
    color: rgb(114, 114, 114);

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.banner-image{
    max-width: 1140px;
    margin: 0 auto;
    
}
.banner-image img{
    width: 100%;
}
/* header media query */
@media screen and (max-width:576px){
    nav {
        max-width: 100%;
        display: flex
    ;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }
    nav h3 {
        color: rgb(19, 19, 19);
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    nav ul {
        display: flex
    ;
        gap: 30px;
        list-style: none;
        position: relative;
        right: 1.4rem;
    }
    .banner-container h2 {
        color: rgb(19, 19, 19);
        font-size: 37px;
        font-weight: 700;
        line-height: 75px;
        padding: 1rem;
    }
    .banner-container p {
        color: rgb(114, 114, 114);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 1em;
        text-align: justify;
    }
}