@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.no{
    display: none;
}
body{
    /* max-width: 1140px;
    border: 2px red solid;
    margin: 0 auto; */
    font-family: Work sans;
}
.color-Feature{
    color: rgb(255, 144, 14);
}
.color-tt{
    background: rgba(255, 144, 14, 0.1);
}
 /* Button section */
 .btn-section{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border: none;
 }
 .btn-section:hover{
    background-color: black;
 }
 /* Header nav */
nav{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav h3{
    color: rgb(19, 19, 19);
font-size: 45px;
font-weight: 700;
}
nav a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}
/* banner-containerb */
.banner-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
}
.banner-container h2{
    color: rgb(19, 19, 19);
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}
.banner-container p{
    color: rgb(114, 114, 114);

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.banner-image{
    max-width: 1140px;
    margin: 0 auto;
    
    
}
.banner-image img{
    width: 100%;
    padding-bottom:30px;
}
/* main */
main{
    max-width:1140px;
    margin:0 auto;
    /* border: black solid 1px; */
    
}
/* list-of-features */
.list-of-features{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    position: relative;
    top:10px;
    bottom: 20px;
}
.list-of-features-img{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:550px;
    max-height: 570px;
    padding:2em;
    gap:5px;
}
.list-of-features-img img{
    width: 100%;
}
.list-of-features-Article{
    max-width: 550px;
    max-height: 570px;
    padding:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: justify;
    
}
.list-of-features-Article p{
    color: rgb(114, 114, 114);

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* Loving feature */
.loving-featre{
  display: flex;
  justify-content: space-between;
  max-width:1140px;
  max-height: 800px;
  margin: 0 auto;
  /* border: 1px black solid; */
}
.loving-article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width:550px;
    /* max-height:100%; */
    /* border: 1px red solid; */
}
.loving-image{
    padding: 20px;
    max-width:550px;
    /* max-height: 100%; */
    /* border: 1px red solid; */
}
.loving-image img{
    width: 100%;
    height:100%;
}
.loving-card{
    border-radius: 16px;
    height: 130px;
    max-width: 500px;
    padding: 5px;
    color: rgb(114, 114, 114);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    align-content: center;
    /* margin: 0 auto; */
    text-align: justify;
}
/* sosme-facts */
.sosme-facts-container{
    max-width: 1140px;
    max-height: 100%;
    margin: 0 auto;
    /* border: black 1px solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
   
}
.some-facts{
    text-align: left;
    padding: 5px;
    /* border: 2px rgb(241, 93, 93) solid; */
    margin: 30px;
}
.some-facts-car-container{
 display: flex;
 justify-content: space-evenly;
 position: relative;
 
 bottom:20px;
}
.some-fats-ccadr{
    width: 169px;
height: 136.22px;
background: rgb(255, 255, 255);
border: rgba(240, 101, 101, 0.921) 3px solid;
align-items: center;
text-align: center;
padding: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}
/* Our-Sponspors */
.Our-Sponspors{
    position: relative;
    top: 20px;
    /* bottom: 50px; */
    gap:30px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    /* border: 2px red solid; */
    padding: 50px;
}
.Our-Sponspors-company{
    display:flex;
    gap: 40px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    
    
}
footer{
    text-align: center;
    background: rgba(255, 144, 14, 0.1);
    padding: 10px;
    margin: 10px;
    
}
.Our-Sponspors-company img{
        
    filter: grayscale(100%);
}

/* header media query */
@media screen and (max-width:576px){
    nav {
        max-width: 100%;
        display: flex
    ;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }
    nav h3 {
        color: rgb(19, 19, 19);
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    nav ul {
        display: flex
    ;
        gap: 30px;
        list-style: none;
        position: relative;
        right: 1.4rem;
    }
    .banner-container h2 {
        color: rgb(19, 19, 19);
        font-size: 37px;
        font-weight: 700;
        line-height: 75px;
        padding: 1rem;
    }
    .banner-container p {
        color: rgb(114, 114, 114);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 1em;
        text-align: justify;
    }
    /* List of feature */
    .list-of-features {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        
        justify-content: space-between;
        flex-direction: column;
    }
    .btn-section {
        width: 120px;
        height: 54px;
        border-radius: 8px;
        background: rgb(255, 144, 14);
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 600;
        border: none;
    }
    /* lovig fatures */
    .loving-featre {
        display: flex
    ;
        justify-content: space-between;
        max-width: 1140px;
        max-height: 950px;
        margin: 0 auto;
        /* border: 1px black solid; */
        flex-direction: column;
    }
    .sosme-facts-container {
        max-width: 1140px;
        max-height: 100%;
        margin: 0 auto;
        /* border: black 1px solid; */
        display: flex
    ;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-evenly;
        position: relative;
        top: 520px;
        padding: 7px;
    }
    .Our-Sponspors {
        position: relative;
        top: 500px;
        /* bottom: 50px; */
        gap: 30px;
        max-width: 1140px;
        display: flex
    ;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        /* border: 2px red solid; */
        padding: 50px;
    }
    .Our-Sponspors-company {
        /* display: flex
    ; */
        display: grid;
        justify-content: space-around;
        gap: 40px;
    }
    footer{
        text-align: center;
        background: rgba(255, 144, 14, 0.1);
        padding: 15px;
        margin: 5px;
        position: relative;
        top: 540px;
    }
    }
    @media screen and (min-width:576px)and (max-width:992px){
         
        .Our-Sponspors-company {
            display: flex
        ;
            gap: 40px;
            justify-content: space-between;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .loving-featre {
            display: flex
        ;
            justify-content: space-between;
            max-width: 1140px;
            max-height: 800px;
            margin: 0 auto;
            /* border: 1px black solid; */
            flex-direction: column;
        }
        .loving-image {
            padding: 20px;
            max-width: 550px;
            /* max-height: 100%; */
            /* border: 1px red solid; */
            margin: 0 auto;
        }
        .loving-article {
            display: flex
        ;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            max-width: 550px;
            /* max-height: 100%; */
            margin: 0 auto;
            /* border: 1px red solid; */
        }
        .sosme-facts-container {
            max-width: 1140px;
            max-height: 100%;
            margin: 0 auto;
            /* border: black 1px solid; */
            display: flex
        ;
            flex-wrap: wrap;
            gap: 20px;
            position: relative;
            top: 800px;
            justify-content: space-evenly;
        }
       
        .Our-Sponspors {
            position: relative;
            /* bottom: 50px; */
            gap: 10px;
            max-width: 1140px;
            display: flex
        ;
            flex-direction: column;
            justify-items: center;
            text-align: center;
            /* border: 2px red solid; */
            padding: 50px;
            position: relative;
            top: 800px;
        
       
    }
    footer {
        text-align: center;
        background: rgba(255, 144, 14, 0.1);
        padding: 10px;
        margin: 5px;
        position: relative;
        top: 800px;
    }
}
     
